WSOpenDataETL/WebContent/wsdl/WSEtl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://etl.odata.statportal.sister.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://etl.odata.statportal.sister.it" xmlns:intf="http://etl.odata.statportal.sister.it" xmlns:tns1="http://exchange.etl.odata.statportal.sister.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://etl.odata.statportal.sister.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exchange.etl.odata.statportal.sister.it"/>
   <element name="getAliases">
    <complexType>
     <sequence>
      <element name="dataUid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAliasesResponse">
    <complexType>
     <sequence>
      <element name="getAliasesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWarnings">
    <complexType>
     <sequence>
      <element name="filePath" type="xsd:string"/>
      <element name="dimensionInfoCollection" type="xsd:string"/>
      <element name="measureInfoCollection" type="xsd:string"/>
      <element name="genericColumnInfoCollection" type="xsd:string"/>
      <element name="extraArguments" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWarningsResponse">
    <complexType>
     <sequence>
      <element name="getWarningsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteData">
    <complexType>
     <sequence>
      <element name="dataUid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteDataResponse">
    <complexType>
     <sequence>
      <element name="deleteDataReturn" type="tns1:DeleteDataResult"/>
     </sequence>
    </complexType>
   </element>
   <element name="readConfig">
    <complexType>
     <sequence>
      <element name="key" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="readConfigResponse">
    <complexType>
     <sequence>
      <element name="readConfigReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDimDescription">
    <complexType>
     <sequence>
      <element name="dataDimId" type="xsd:int"/>
      <element name="code" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDimDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getDimDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="extractInfo">
    <complexType>
     <sequence>
      <element name="filePath" type="xsd:string"/>
      <element name="extraArguments" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="extractInfoResponse">
    <complexType>
     <sequence>
      <element name="extractInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifyUniqueness">
    <complexType>
     <sequence>
      <element name="filePath" type="xsd:string"/>
      <element name="columnName" type="xsd:string"/>
      <element name="extraArguments" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verifyUniquenessResponse">
    <complexType>
     <sequence>
      <element name="verifyUniquenessReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkConfiguration">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkConfigurationResponse">
    <complexType>
     <sequence>
      <element name="checkConfigurationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="importData">
    <complexType>
     <sequence>
      <element name="filePath" type="xsd:string"/>
      <element name="dataInfo" type="xsd:string"/>
      <element name="dimensionInfoCollection" type="xsd:string"/>
      <element name="measureInfoCollection" type="xsd:string"/>
      <element name="genericColumnInfoCollection" type="xsd:string"/>
      <element name="extraArguments" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="importDataResponse">
    <complexType>
     <sequence>
      <element name="importDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAliases">
    <complexType>
     <sequence>
      <element name="dataUid" type="xsd:string"/>
      <element name="aliases" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setAliasesResponse">
    <complexType>
     <sequence>
      <element name="setAliasesReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMaxScanningRecords">
    <complexType/>
   </element>
   <element name="getMaxScanningRecordsResponse">
    <complexType>
     <sequence>
      <element name="getMaxScanningRecordsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getMaxVerifyRecords">
    <complexType/>
   </element>
   <element name="getMaxVerifyRecordsResponse">
    <complexType>
     <sequence>
      <element name="getMaxVerifyRecordsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exchange.etl.odata.statportal.sister.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="DeleteDataResult">
    <sequence>
     <element name="deleted" type="xsd:boolean"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="importDataRequest">

      <wsdl:part element="impl:importData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAliasesRequest">

      <wsdl:part element="impl:getAliases" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="extractInfoResponse">

      <wsdl:part element="impl:extractInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMaxVerifyRecordsRequest">

      <wsdl:part element="impl:getMaxVerifyRecords" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWarningsResponse">

      <wsdl:part element="impl:getWarningsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDataResponse">

      <wsdl:part element="impl:deleteDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readConfigResponse">

      <wsdl:part element="impl:readConfigResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMaxScanningRecordsRequest">

      <wsdl:part element="impl:getMaxScanningRecords" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAliasesResponse">

      <wsdl:part element="impl:setAliasesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkConfigurationRequest">

      <wsdl:part element="impl:checkConfiguration" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDimDescriptionResponse">

      <wsdl:part element="impl:getDimDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="extractInfoRequest">

      <wsdl:part element="impl:extractInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="importDataResponse">

      <wsdl:part element="impl:importDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setAliasesRequest">

      <wsdl:part element="impl:setAliases" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteDataRequest">

      <wsdl:part element="impl:deleteData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMaxScanningRecordsResponse">

      <wsdl:part element="impl:getMaxScanningRecordsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkConfigurationResponse">

      <wsdl:part element="impl:checkConfigurationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDimDescriptionRequest">

      <wsdl:part element="impl:getDimDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyUniquenessResponse">

      <wsdl:part element="impl:verifyUniquenessResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verifyUniquenessRequest">

      <wsdl:part element="impl:verifyUniqueness" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getMaxVerifyRecordsResponse">

      <wsdl:part element="impl:getMaxVerifyRecordsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAliasesResponse">

      <wsdl:part element="impl:getAliasesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getWarningsRequest">

      <wsdl:part element="impl:getWarnings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="readConfigRequest">

      <wsdl:part element="impl:readConfig" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="WSEtl">

      <wsdl:operation name="getAliases">

         <wsdl:input message="impl:getAliasesRequest" name="getAliasesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAliasesResponse" name="getAliasesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWarnings">

         <wsdl:input message="impl:getWarningsRequest" name="getWarningsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getWarningsResponse" name="getWarningsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteData">

         <wsdl:input message="impl:deleteDataRequest" name="deleteDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteDataResponse" name="deleteDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readConfig">

         <wsdl:input message="impl:readConfigRequest" name="readConfigRequest">

       </wsdl:input>

         <wsdl:output message="impl:readConfigResponse" name="readConfigResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDimDescription">

         <wsdl:input message="impl:getDimDescriptionRequest" name="getDimDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDimDescriptionResponse" name="getDimDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="extractInfo">

         <wsdl:input message="impl:extractInfoRequest" name="extractInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:extractInfoResponse" name="extractInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verifyUniqueness">

         <wsdl:input message="impl:verifyUniquenessRequest" name="verifyUniquenessRequest">

       </wsdl:input>

         <wsdl:output message="impl:verifyUniquenessResponse" name="verifyUniquenessResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkConfiguration">

         <wsdl:input message="impl:checkConfigurationRequest" name="checkConfigurationRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkConfigurationResponse" name="checkConfigurationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="importData">

         <wsdl:input message="impl:importDataRequest" name="importDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:importDataResponse" name="importDataResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAliases">

         <wsdl:input message="impl:setAliasesRequest" name="setAliasesRequest">

       </wsdl:input>

         <wsdl:output message="impl:setAliasesResponse" name="setAliasesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaxScanningRecords">

         <wsdl:input message="impl:getMaxScanningRecordsRequest" name="getMaxScanningRecordsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMaxScanningRecordsResponse" name="getMaxScanningRecordsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaxVerifyRecords">

         <wsdl:input message="impl:getMaxVerifyRecordsRequest" name="getMaxVerifyRecordsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getMaxVerifyRecordsResponse" name="getMaxVerifyRecordsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSEtlSoapBinding" type="impl:WSEtl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAliases">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAliasesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAliasesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWarnings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWarningsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWarningsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="readConfig">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="readConfigRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="readConfigResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDimDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDimDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDimDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="extractInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="extractInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="extractInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verifyUniqueness">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verifyUniquenessRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verifyUniquenessResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkConfiguration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkConfigurationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkConfigurationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="importData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="importDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="importDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setAliases">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAliasesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setAliasesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaxScanningRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMaxScanningRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMaxScanningRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getMaxVerifyRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMaxVerifyRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getMaxVerifyRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSEtlService">

      <wsdl:port binding="impl:WSEtlSoapBinding" name="WSEtl">

         <wsdlsoap:address location="http://localhost:8080/WSOpenDataETL/services/WSEtl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
